@font-face {
    font-family: 'airstream';
    src: url('./Airstream-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Amaranth';
    src: url('./Amaranth-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Amaranth';
    src: url('./Amaranth-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Amaranth';
    src: url('./Amaranth-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Amaranth';
    src: url('./Amaranth-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

body {
    background: url('./ivan-torres-pizza.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    min-height: 100px;
    background-color: white;
    box-shadow: 0 2px 20px 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: 'airstream';
    font-size: 50px;
    margin: 0;
}

.btns {
    display: flex;
    gap: 10px;
}

.home,
.menu,
.contact {
    border: none;
    background-color: white;
    font-family: 'Amaranth';
    font-size: 20px;
}

.home:hover,
.menu:hover,
.contact:hover {
    cursor: pointer;
    background-color: rgb(251, 235, 235);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.selected {
    border-top: 5px solid rgb(225, 187, 35);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: rgb(190, 44, 44);
}

.selected:hover {
    background-color: rgb(223, 60, 60);
}

.content-body {
    flex: 1;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.headline {
    font-family: 'Amaranth';
    font-style: italic;
    font-size: 50px;
    color: white;
}


/*menu section*/


.menu-container {
    border-radius: 10px;
    width: 600px;
    margin: 20px auto 20px auto;
    padding-bottom: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-header {
    font-family: 'airstream';
    font-size: 30px;
}

.item {
    font-family: 'Amaranth';
    width: 450px;
}

.item-name {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-description {
    width: 350px;
}
